<!DOCTYPE html>

<html>
   <head>
      <title>File Metadata</title>
      <link rel="icon" type="image/png" href="/home/MyProjects/project-filemetadata/favicon-96x96.png" sizes="96x96" />
      <link rel="icon" type="image/svg+xml" href="/home/MyProjects/project-filemetadata/favicon.svg" />
      <link rel="shortcut icon" href="/home/MyProjects/project-filemetadata/favicon.ico" />
      <link rel="apple-touch-icon" sizes="180x180" href="/home/MyProjects/project-filemetadata/apple-touch-icon.png" />
      <link rel="manifest" href="/home/MyProjects/project-filemetadata/site.webmanifest" />
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>API Project: File Metadata Microservice</h1>

        <h2>Usage:</h2>
        <p>
          Please Upload a File ...
        </p>
        <div class="view">
          <h3 id="output"></h3>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="Upload">
          </form>
        </div>
      </div>
      <div class="footer">
        <p>
          by 
          <a href="http://www.freecodecamp.com">freeCodeCamp</a>
        </p>
      </div>
   </body>
</html>
